<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>
  <%- include partials/head %>
</head>

<body>

  <%- include partials/navbar %>

  
  <!-- End of counter Section -->
  <%- include partials/home/counters %>
  <!-- Page Content -->
  <%- include partials/login-register-form %>

  <!-- /.container -->
  <%- include partials/footer %>

</body>

</html>