<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
</head>

<body>
    <%- include partials/navbar %>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Members</h1>
                </div>
                <div class="col-xs-12">
                    <ul class="list-group">
                        <% users.forEach(function(user){ %>
                        <li class="list-group-item">
                            <a class="item" href="/<%= user.username %>">
                                <%= user.username %>
                            </a>
                        </li>
                        <% })%>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /container -->
        <%- include partials/footer %>
</body>

</html>